$block-color: #232323;
/* Modal Popup */
#modalPopup {
	display: none;

	position: relative;

	background-color: white;
	border: 2px solid white;

	width: 93vw;
	height: 93vh;
	overflow: auto;

	margin: 0 auto;

	padding: 10px 20px;
}

#modalPopup .modal_close {
	position: fixed;
	top: 15px;
	right: 15px;
	width: 20px;
	svg .X{
		fill: white;
	}
	svg:hover .X {
			fill: grey;
	}
}

#modalPopup .projectSide {
	padding-right: 1vw;
}

#modalPopup .projectHead {
	align-self: flex-start;
	width: 100%;
	color: white;
	background-color: $block-color;
	border-color: $block-color;
	padding: 30px 20px;

	.cat{
		font-weight: lighter;
		font-size: 16px;
		padding-bottom: 5px;
	}

	.org{
		font-weight: lighter;
		font-style: italic;
		font-size: 10px;
	}

	.title{
		font-weight: bold;
		font-size: 40px;
		margin-top: 5px;
		margin-bottom: 20px;
	}

	.subtitle{
		font-weight: normal;
		font-size: 14px;
		margin-right: 25vw;
	}

}

#modalPopup .projectDetails {
	// .mainImg {
	// 	position: relative;
	// 	margin-top: 15px;
	// 	margin-bottom: 30px;
	// 	width: 200px;
	// 	padding-top: 200px; /*to set the same as width, because height: 100% isn't working */
  //
	// 	background-position: center;
	// 	background-repeat: no-repeat;
	// 	background-size: 90%;
  //
	// 	margin: 0 auto;
	// }


}
#modalPopup .projectImages {
	.imgDiv {
		position: relative;
		margin-top: 15px;
		margin-bottom: 30px;
		height: 600px;
		width: 900px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 10px auto;

		//adjust the text location
		display: flex;
		flex-direction: column-reverse;

	}

	.imgDiv:hover .imgTxt{
		visibility: visible;
		opacity: 1;

	}

	.imgTxt {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.5s, opacity 0.5s linear;

		background: rgba(0, 0, 0, .7);
		color: white;
		padding: 30px 50px;

		//asdf
	}
}
#modalPopup .projectInfo {

	h1{
		margin-bottom: 10px;

	}
	p{
		padding: 0 20px;
		line-height: 30px;
	}

}
#modalPopup .devSide {
	display: flex;
	float: right;
	width: 30vw;
	flex-direction: column;
	align-items: center;
	background-color: $block-color;
	color: white;
	padding: 20px;
	position: fixed;

	.devs{
		padding: 10px 50px;
	}

	.devPic {

	}

}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
		cursor: zoom-out;
}

//Media Queries!!! Need for responsive window size
// #modalPopup .name {
// 	line-height: 1.35em;
// 	font-size: 1.3em;
//
// 	color: #241F59;
// 	border-bottom: solid 1px #241F59;
// }
// #modalPopup .bio {
// 	margin-top: 15px;
// 	margin-bottom: 10px;
// }
// #modalPopup .bio a {
// 	color: #241F59;
// 	border-bottom: 1px #241F59 solid;
// }
//
//
// @media (min-width: 1200px) {
// 	#modalPopup .name:hover {
// 		color: #FFD400;
// 		border-bottom: solid 1px #FFD400;
// 	}
// }
//
// @media (min-width: 600px) {
// 	#modalPopup .personImg-border {
// 		width: 300px;
// 	}
// 	#modalPopup .personImg {
// 		width: 300px;
// 		padding-top: 300px; /*to set the same as width, because height: 100% isn't working */
// 	}
// }
//
// @media (min-width: 1200px) {
// 	#modalPopup .modal_close svg .X {
// 		-webkit-transition: 0.2s all;
// 		transition: 0.2s all;
// 	}

// }

// @media (min-width: 1200px) {
// 	#modalPopup .bio a:hover {
// 		color: #FFD400;
// 		border-bottom: 1px #FFD400 solid;
// 	}
// }


// Modal desktop
// @media (min-width: 1200px) {
// 	#modalPopup {
// 		width: 1200px;
// 	}
//
// 	#modalPopup .imgDiv {
// 		float: left;
// 		margin-bottom: 0;
// 	}

	// #modalPopup .textDiv {
	// 	float: right;
	// 	width: calc(100% - 330px);
  //
	// 	margin-top: 15px;
	// 	margin-bottom: 15px;
	// 	max-height: 60vh;
	// 	min-height: 300px;
	// 	overflow: scroll;
	// }

	// #modalPopup .personImg-border {
	// 	width: 300px;
	// }
	// #modalPopup .personImg {
	// 	width: 300px;
	// 	padding-top: 300px; /*to set the same as width, because height: 100% isn't working */
	// }
//}


/*#modalPopup .personImg-border {
	width: 200px;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);

	z-index: 1;

	pointer-events: none;
}
*/
